---
layout: default
---
<div class="home">
	<section>
		<h2 class="smallcap">about</h2>
		<p>Disruptions along a pathway paved by Big Data.</p>
	</section>
	<section>
		<h2 class="smallcap">posts</h2>
		<ul class="post-list">
			{% for post in site.posts limit:5 %}
			<li>
				<span>{{ post.date | date: "%b %d, %Y" }}</span>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
			{% endfor %}
		</ul>
		<p><a href="{{ "/archives/" | prepend: site.baseurl }}">view more...</a></p>
	</section>
<section>
<a href="{{ "tags.html" | prepend: site.baseurl }}">Index by tags</a>
<h2> Here is an index of posts by tag...I will move this to a separate page soon</h2>
{% capture tags %}
	  {% for tag in site.tags %}
	    {{ tag[0] }}
	  {% endfor %}
	{% endcapture %}
	{% assign sortedtags = tags | split:' ' | sort %}

	{% for tag in sortedtags %}
	  <h3 id="{{ tag }}">{{ tag }}</h3>
	    <ul>
	        {% for post in site.tags[tag] %}
		    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		      {% endfor %}
		      </ul>
	    {% endfor %}
</section>
</div>
