---
layout: default
title:  Tags
---

<h2> Index of posts by tag:</h2>
<section>
  
{% capture tags %}
	  {% for tag in site.tags %}
	    {{ tag[0] }}
	  {% endfor %}
	{% endcapture %}
	{% assign sortedtags = tags | split:' ' %}
	{% sortedtags = sortedtags.sort_by(&:downcase) %} 

	{% for tag in sortedtags %}
	  <b>{{ tag }}</b>
	    <ul>
	        {% for post in site.tags[tag] %}
		    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		      {% endfor %}
		      </ul>
	    {% endfor %}
</section>
