---
layout: default
title:  Tags
---

<h2> Index of posts by tag:</h2>
<section>
  
	{% capture tags %}
	  {% for tag in site.tags %}
	    {{tag[0]}}{{','}}
	  {% endfor %}
	{% endcapture %}
	{% assign sortedtags = tags | downcase | split:',' | sort %}
	{% for tag in sortedtags %}
      {% assign tag_s = tag | strip %}
	  <b><a name="{{ tag_s | capitalize }}"> </a>{{ tag_s | capitalize }}</b>
	    <ul>
	        {% for post in site.posts %}
	          {% for t in post.tags %}
		         {% assign t = t | strip %}
	             {% capture tdown %}{{ t | downcase }}{% endcapture %}
	          	 {% if tdown == tag_s %}
  			       <li><a href="{{ post.url }}">{{ post.title }}</a></li>
				 {% endif %}
	          {% endfor %}
		    {% endfor %}
		</ul>
	{% endfor %}
</section>
































<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>